*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.logo a {
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 150px;
    letter-spacing: 1;
    text-shadow: 2px 2px 30px rgba(167, 158, 245, 0.486);
}
.searcharea{
    position: fixed;
    top: 65px;
    right: 150px;
    width: 170px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 50px ;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.1);
}
.searchbox input{
    height: 20px;
    width: 110px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 7px;
    font-family: poppins;
}

.section1{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-15%, -50%);
}
.section1 img{
    height: 300px;
}
.section2{
    position: absolute;
    top: 49%;
    left: 85%;
    transform: translate(-90%, -50%);
}
.section2 span{
    color: rgb(122, 145, 243);
}
.section2 h1, h2{
    font-family: Roboto;
    font-weight: bold;
    margin: 0px;
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);

    text-transform: uppercase;
}
.section2 h1{
    letter-spacing: 20px;
    font-size: 4.5rem;
}
.btn1{
    font-size: 16px;
    font-family: calibri;
    font-weight: bold;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    background-color: #2f2e41;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    color: white;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent !important;
}
.btn1:hover{
    background-color: rgb(99, 126, 247);
    transition: all ease 0.5s;
}
.iconarea a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
}
.iconarea{
    position: fixed;
    top: 48%;
    left: 70px;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    padding: 5PX 0PX;
    z-index: 1;
}
.iconarea a i{
    color: rgba(39, 39, 39, 0.80);
}
.iconarea a:hover .fa-facebook-f{
    color: #3b5998;
}
.iconarea a:hover .fa-instagram{
    color: #3f729b;
}
.iconarea a:hover .fa-twitter{
    color: #00acee;
}
.iconarea a:hover .fa-linkedin{
    color: #00acee;
}

.productarea h3{
    font-size: 30px;
    font-family: poppins;
    letter-spacing: 3px;
}
.productarea span{
    color: rgb(122, 145, 243);
    font-weight: bolder;
    letter-spacing: 2px;
}